{{/*
  
  CUSTOM FILE FOR PAGE `type: slides`, USES fullPage.js TO DISPLAY AS
  SLIDES, ANIMATE ELEMENTS, AND LINK PAGE MENU/NAVIGATION VISUAL.
  
  Single page default template. Normal page content will appear in the
  .Content outlet below.
*/}}

{{ define "main" }}
<article class="{{ partial "page-class.html" . }} quire-page" id="main" role="main">
  
  {{ if .Content }}
   
  {{ $menuItems := strings.TrimRight "," ($.Page.Scratch.Get "munuItems") }}
  {{ $menuItems := split $menuItems "," }}

  <ul class="slide-menu">
    <li><span class="cover"></span><a href='#anchor-start' data-aos='highlight' data-aos-anchor='#anchor-start'>Start</a><span class="marker"></span></li>
    {{ range $menuItems }}
    {{ $anchor := printf "%s-%s" "anchor" . }}
    <li><span class="cover"></span><a href='#{{ $anchor }}' data-aos='highlight' data-aos-anchor='#{{ $anchor }}'>{{ . | humanize | title }}</a><span class="marker"></span></li>
    {{ end }}
  </ul>
  
  <section class="section quire-page__content">
    <div class="slide content title-slide">
      <h1 class="quire-page__header__title" id="{{ .Title | urlize }}">
        {{- with .Params.label }}<span class="label">{{ . }}<span class="visually-hidden">{{ $.Site.Params.pageLabelDivider }}</span></span>{{ end -}}
        {{- partial "page-title.html" . | markdownify -}}
      </h1>
      {{/* Contributors, if any */}}
      {{ partial "page-contributor.html" . }} 
    </div>
    {{ .Content }}
    {{ partial "page-bibliography.html" . }}
  </section>
  {{ end }}
  
  <section class="section quire-page__content">
    <div class="container">
      {{ partial "footer-buttons.html" . }}
    </div>
  </section>
</article>
{{ end }}

