{{/*
  
  CUSTOM FILE FOR PAGE `type: slides`, USES fullPage.js TO DISPLAY AS
  SLIDES, ANIMATE ELEMENTS, AND LINK PAGE MENU/NAVIGATION VISUAL.
  
  Single page default template. Normal page content will appear in the
  .Content outlet below.
*/}}

{{ define "main" }}
<article class="{{ partial "page-class.html" . }} quire-page" id="main" role="main">
  
  {{ if .Content }}
   
  {{ $menuItems := strings.TrimRight "," ($.Page.Scratch.Get "munuItems") }}
  {{ $menuItems := split $menuItems "," }}

  <ul id="fullpage-menu" class="slide-menu">
    <li data-menuanchor="anchor-start"><span class="cover"></span><span class="marker"></span><a href='#anchor-start'>Start</a></li>
    {{ range $menuItems }}
    {{ $anchor := printf "%s-%s" "anchor" . }}
    <li data-menuanchor="{{ $anchor }}"><span class="cover"></span><span class="marker"></span><a href='#{{ $anchor }}'>{{ . | humanize | title }}</a></li>
    {{ end }}
  </ul>
  
  <section class="section quire-page__content" id="fullpage">
        <div class="section title-slide" data-menuanchor="anchor-start" data-anchor="anchor-start">
          <h1 class="quire-page__header__title" id="{{ .Title | urlize }}">
            {{- with .Params.label }}<span class="label">{{ . }}<span class="visually-hidden">{{ $.Site.Params.pageLabelDivider }}</span></span>{{ end -}}
            {{- partial "page-title.html" . | markdownify -}}
          </h1>
          {{/* Contributors, if any */}}
          {{ partial "page-contributor.html" . }} 
        </div>
        {{ .Content }}
        {{ partial "page-bibliography.html" . }}
  </section>
  {{ end }}
  <section class="section quire-page__content">
    <div class="container">
      {{ partial "footer-buttons.html" . }}
    </div>
  </section>
</article>
{{ end }}

