/*
   CUSTOMIZED FILE -- Bronze Guidelines
*/
:root {

  /* https://coolors.co/c2b99a-716c5b-4e4a3e-000000-427f34-d0773f */

  /* Should match $accent-color in variables.scss
  #427f34 is a darker, accessible version of --green-wax */
  --accent-color: #427f34;

  /* From Gary's illustrations */
  --green-wax: #59ac46;
  --yellow-bronze: #fbda00;
  --orange-clay: #d0773f;
  --brown-sand: #b68b73;
  --brown-bronze: #784721;

  /* $black and $white should match those in variables.scss */
  --white: #fff;
  --light: #c2b99a; /* Cover tan */
  --mid: #716c5b;
  --black: #4e4a3e; /* Cover brown */
  --deep-black: #000;
}

/*
GENERAL
MENU & TOCs
FULL-WIDTH PAGES
INDENTED HEADINGS & LISTS
FIGURE GROUP
ACCORDION BUTTONS
VOCABULARY PAGES
VISUAL ATLAS PAGE
CASE STUDIES
LIGHTBOX & MODAL
TABLES
PRINT/PDF
*/

/* GENERAL
============================================================================= */
/* Adjust default heading styles and spacing */
.quire-page h2 {
  margin-top: 3rem !important;
  text-transform: none;
  font-weight: 800;
}
.quire-page h3 {
  font-style: normal;
  font-weight: 800;
}
.quire-page h4 {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 800;
}
/* Position vocab pop-up "More" links away from text */
a.quire-definition__content__more-link {
  float: right;
  margin-left: 1rem;
}
.warn > p:first-child {
  color: var(--orange-clay);
  font-weight: bold;
}
.warn li::before {
  color: var(--orange-clay);
}

/* MENU & TOCs
============================================================================= */
/* Override default color for active menu item and fix positioning */
.quire-menu__formats h6,
.quire-menu .page-item a.active,
.quire-menu .page-item a.active *,
.quire-menu .section-item a.active,
.quire-menu .section-item a.active * {
  border-color: var(--light) !important;
  color: var(--light) !important;
}
.quire-menu .page-item .page-item a.active,
.quire-menu .section-item .page-item a.active {
  margin-left: calc(-2.75em - 2px);
  padding-left: calc(2rem + 2px);
}
/* Adjust display of sub-page items in TOC */
.quire-contents-list .menu-list .section-item ol a {
  font-family: 'Noto Sans';
  border-bottom: none;
}
.quire-contents-list .page-item, .quire-contents-list .section-item {
  margin-bottom: 1rem;
}
.quire-contents-list .menu-list .section-item ol {
  margin-left: 1.5rem;
}
/* Make abstracts more legible */
.quire-contents-list.abstract .abstract-text {
  font-family: 'Noto Sans';
  line-height: 1.6;
}
.quire-contents-list.abstract .quire-page-label {
  display: inline-block;
  margin-left: -2.5rem;
  width: 2.5rem;
  display: inline-block;
}
.quire-contents-list.abstract .contributor {
  display: block;
  font-size: 1.125rem;
}
.quire-contents-list.abstract .quire-page-label-divider,
.quire-contents-list.abstract .contributor-divider {
  display: none;
}
.quire-contents-list.abstract .arrow {
  display: none;
}

/* FULL-WIDTH PAGES
    presentation: full-width
============================================================================= */
@media screen {
  .quire-page.full-width .quire-page__content .container {
    max-width: 1400px;
    width: inherit;
    margin-left: 6rem;
    margin-right: 3rem;
  }
  /* Set grid, text to the left, figuregroups to right, headers span across */
  .quire-page.full-width .quire-page__content .content section:not([hidden]) {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
  .quire-page.full-width .quire-page__content .content section > * {
    grid-column-start: 1;
  }
  .quire-page.full-width .quire-page__content .content section > figure {
    grid-column-start: 2;
    grid-row: 2/100;
    margin-top: 0;
  }
  .quire-page.full-width .quire-page__content .content section > .accordion-wrapper > figure {
    grid-row-start: 1;
  }
  .quire-page.full-width .quire-page__content .content section.display-accordion > figure {
    grid-row-start: 1;
  }
  .quire-page.full-width .quire-page__content .content section > section,
  .quire-page.full-width .quire-page__content .content section > h2,
  .quire-page.full-width .quire-page__content .content section > h3,
  .quire-page.full-width .quire-page__content .content section > h4 {
    grid-column-end: -1;
  }
  @media screen and (max-width:810px) {
    .quire-page.full-width .q-figure.q-figure--group.quire-grid-3 {
      column-count: 2;
    }
  }
  @media screen and (max-width:640px) {
    .quire-page.full-width .quire-page__content .content section {
      display: block;
    }
    .quire-page.full-width .q-figure.q-figure--group.quire-grid-3 {
      column-count: 3;
      margin-bottom: 1rem;
      margin-top: 1.5rem;
    }
  }
  @media screen and (max-width:500px) {
    .quire-page.full-width .q-figure.q-figure--group.quire-grid-3 {
      column-count: 2;
    }
  }
  /* Ensure proper spacing between sections */
  .quire-page.full-width .quire-page__content .content section:not([hidden]) {
    margin-bottom: .75rem;
  }
  .quire-page.full-width .quire-page__content .content h2 + section {
    margin-top: .75rem;
  }
}

/* INDENTED HEADINGS & LISTS
============================================================================= */
@media screen {
  /* The .indented-heading and .section-number classes are added in custom.js */
  .quire-page.full-width .content .indented-heading {
    text-indent: -6rem;
  }
  .quire-page.full-width .content .indented-heading .section-number {
    width: 6rem;
    display: inline-block;
    text-align: right;
    padding-right: 2rem;
  }
  /*  Indent lists to match headings */
  .quire-page.full-width .quire-page__content .container .content ul,
  .quire-page.full-width .quire-page__content .container .content ul li {
    margin-left: 0;
  }
  .quire-page.full-width .quire-page__content .container .content ul li::before {
    font-size: 1rem;
    margin-top: .2rem;
    margin-left: -2.7rem;
  }
}

/* FIGURE GROUP
============================================================================= */
.q-figure.q-figure--group.quire-grid-3 {
  border-width: 0;
  column-count: 3;
  padding: 0;
}
@media screen and (max-width:500px) {
  .q-figure.q-figure--group.quire-grid-3 {
    column-count: 2;
  }
}
.q-figure.q-figure--group figure {
  border-width: 0;
  break-inside: avoid;
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 0;
}
.q-figure.q-figure--group .q-figure__caption {
  margin-top: 0;
}
.q-figure.q-figure--group .q-figure__caption-content,
.q-figure.q-figure--group .q-figure__credit-content {
  display: none;
}

/* FIGURE MODAL
============================================================================= */
.q-figure__modal-link {
  display: inline;
  color: inherit;
  border-bottom: 1px dotted var(--accent-color);
}
figure .q-figure__modal-link {
  border-bottom-width: 0;
}

/*  ACCORDION BUTTONS
    <div class="accordion">   <-- used in VOCABULARY PAGES
    presentation: accordion   <-- used on FULL-WIDTH PAGES
============================================================================= */
button.accordion-expander,
.accordion-controls button {
  all: inherit;
  border: 0 !important;
  cursor: pointer;
  margin: 0 !important;
  padding: 0 !important;
}
button.accordion-expander svg {
  fill: currentColor;
  height: 1rem;
  width: 1rem;
}
button.accordion-expander[aria-expanded="true"] svg {
  fill: var(--green-wax);
}
button.accordion-expander[aria-expanded="true"],
button.accordion-expander[aria-expanded="true"] * {
  color: var(--green-wax);
}
button.accordion-expander[aria-expanded="true"] .vert {
  display: none;
}

/* Expand and Collapse All buttons */
.quire-page.full-width .accordion-controls {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: var(--black);
  border-top-left-radius: 0.5em;
  color: var(--white);
  font-size: .875rem;
  z-index: 1;
}
.quire-page.full-width .accordion-controls li {
  display: inline-block;
  padding: .5rem 1rem;
}
.quire-page.vocabulary .accordion-controls {
  font-size: .875rem;
  height: 1rem;
  display: flex;
  justify-content: flex-end;
}
.quire-page.vocabulary .accordion-controls li::before {
  content: '' !important;
}

/*  VOCABULARY PAGES
    tags: vocabulary
============================================================================= */
.quire-page.vocabulary div.accordion {
  border-bottom: 2px solid var(--black);
  margin-top: 1.75rem;
}
.quire-page.vocabulary div.accordion h3 {
  border-top: 2px solid var(--black);
  font-weight: 400;
  margin-bottom: 1.75rem;
  padding-top: 1.75rem;
}
.quire-page.vocabulary div.accordion h3 button.accordion-expander {
  width: 100%;
}
.quire-page.vocabulary div.accordion h3 button.accordion-expander svg {
  float: right;
  margin-top: .65rem;
}
.quire-page.vocabulary .q-figure--group {
  border-top: 2px solid var(--black);
  padding-top: 2.5rem;
}

/*  VISUAL ATLAS PAGE
    type: visual-atlas
============================================================================= */
@media screen {
  /* Set page as full-width and set alternate background color */
  .quire-page.visual-atlas .quire-page__content .container {
    max-width: none;
    width: inherit;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .quire .quire-page.visual-atlas#main,
  .quire-page.visual-atlas .quire-page__header,
  .quire-page.visual-atlas .quire-page__content .container .content,
  .quire-page.visual-atlas .image-grid-search-box #image-grid-search {
    background-color: var(--black);
  }
  .quire-page.visual-atlas .quire-page__header h1 {
    color: var(--white);
  }
  /* Style search box */
  .quire-page.visual-atlas .image-grid-search-box {
    margin: 0 auto;
    display: block;
    width: 32rem;
    max-width: calc(100vw - 4rem);
    color: var(--white);
  }
  .quire-page.visual-atlas .image-grid-search-box #image-grid-search {
    height: 3rem;
    width: 29.7rem;
    border: none;
    border-bottom: 1px solid var(--white);
    color: var(--white);
    font-size: 1.5rem;
  }
  .quire-page.visual-atlas .image-grid-search-box #image-grid-search:focus-visible {
    outline: none;
  }
  .quire-page.visual-atlas .image-grid-search-box svg {
    width: 2rem;
    height: 2rem;
    fill: var(--white);
    margin-bottom: -1rem;
  }
  #image-grid-counter {
    display: block;
    height: 2rem;
    color: var(--white);
    font-style: italic;
    text-align: center;
  }
  /* Style image grid and images */
  .quire-page.visual-atlas .image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid var(--white);
    margin-top: 2rem;
  }
  .q-figure.image-grid-figure.match {
    display: block;
  }
  .q-figure.image-grid-figure {
    display: none;
  }
  .quire-page.visual-atlas .image-grid figure .q-figure__caption-content,
  .quire-page.visual-atlas .image-grid figure .q-figure__credit,
  .quire-page.visual-atlas .image-grid figure .q-figure__label-icon,
  .quire-page.visual-atlas .image-grid figure canvas-panel {
    display: none;
  }
  .quire-page.visual-atlas .image-grid figure.image-grid-figure img {
    max-height: 240px;
    width: auto;
  }
  .quire-page.visual-atlas .image-grid figure.image-grid-figure:not(:last-child),
  .quire-page.visual-atlas .quire-page__content .container .content figure.image-grid-figure:not(:first-child) {
    margin: 0;
    padding: 2rem;
    padding-bottom: 3rem;
    border: 1px solid var(--white);
    position: relative;
  }
  .quire-page.visual-atlas .image-grid .q-figure__caption {
    position: absolute;
    bottom: 3px;
    left: 6px;
    font-size: .875rem;
  }
  .quire-page.visual-atlas .image-grid .q-figure__caption a {
    color: var(--white);
    opacity: .5;
  }
  /* Add media queries to responsively adjust grid width and outer margins */
  @media (max-width: 1888px)  {
    .quire-page.visual-atlas .image-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
  @media (max-width: 1568px)  {
    .quire-page.visual-atlas .image-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media (max-width: 1248px)  {
    .quire-page.visual-atlas .image-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media (max-width: 928px)  {
    .quire-page.visual-atlas .image-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 609px)  {
    .quire-page.visual-atlas .image-grid {
      grid-template-columns: 1fr;
    }
    .quire-page.visual-atlas .quire-page__content .container {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

/*  CASE STUDIES
    type: entry
    presentation: side-by-side
============================================================================= */
@media screen {
  /* Landing page */
  .grid.quire-contents .image img {
    width: 85vw;
    height: 85vw;
    object-fit: contain;
  }
  @media screen and (min-width: 700px) {
    .grid.quire-contents .image img {
      width: 42vw;
      height: 42vw;
    }
  }
  @media screen and (min-width: 1184px) {
    .grid.quire-contents .image img {
      width: 27vw;
      height: 27vw;
    }
  }
  @media screen and (min-width: 1376px) {
    .grid.quire-contents .image img {
      width: 21vw;
      height: 21vw;
    }
  }
  .grid.quire-contents .quire-page__header,
  .grid.quire-contents .quire-page__content,
  .grid.quire-contents .quire-contents-list.grid ol li .card {
    background-color: var(--deep-black);
  }
  .grid.quire-contents .quire-page__header__title,
  .quire-contents-list.grid ol li .card.image .card-content {
    color: white;
  }
  .quire-contents-list.grid .menu-list a .arrow {
    fill: white;
  }
  .quire-contents-list.grid ol li a:hover .card.image .card-content,
  .quire-contents-list.grid .menu-list a:hover * {
    color: var(--mid);
  }
  .quire-contents-list.grid .menu-list a:hover .arrow svg {
    fill: var(--mid) !important;
  }
  .quire-contents-list.grid .menu-list a:hover img {
    opacity: .7;
  }
  /* Adjust display of case study titles in grid */
  .quire-contents-list.grid .quire-page-label,
  .quire-contents-list.grid .contributor {
    display: block;
  }
  .quire-contents-list.grid .quire-page-label-divider,
  .quire-contents-list.grid .contributor-divider
  .quire-contents-list.grid .arrow {
    display: none;
  }
  .quire-contents-list.grid ol li .card-content span.quire-page-title {
    font-size: 1.5rem !important;
    line-height: 1.2;
    margin: .55rem 0;
    display: block;
  }
  /* Case study pages */
  .quire-entry div.side-by-side div.quire-entry__image-wrap,
  .quire-entry div.side-by-side div.quire-entry__content {
    background-color: var(--deep-black);
  }
  .quire-entry .quire-page__header,
  .quire-entry .quire-page__content .content {
    background-color: transparent;
    color: white;
  }
  .quire-entry .quire-page__header .hero-body .label,
  .quire-entry .q-figure__label--below .q-figure__modal-link,
  .quire-entry h1,
  .quire-entry h2 {
    color: white;
  }
  .quire-entry .q-figure__label--below .q-figure__modal-link {
    color: var(--mid);
  }
  .quire-entry .q-figure__label .q-figure__label-icon svg {
    fill: var(--mid);
  }
  .quire-entry .quire-page__abstract,
  .quire-entry .quire-entry__tombstone {
    display: none;
  }
  .quire-entry div.side-by-side div.quire-entry__content section.section,
  .quire-entry div.side-by-side div.quire-entry__content section,
  .quire-entry div.side-by-side div.quire-entry__content header {
    padding: 0;
  }
  .quire .quire-entry#main {
    font-size: 1.1em;
    background-color: var(--deep-black);
  }
  .quire-entry h2 {
    font-size: 1.375em;
    line-height: 1.5;
  }
  .quire-entry .quire-page__content .content p {
    line-height: 1.7;
  }
  .quire-entry .quire-page__content .content ul {
    margin-left: 0;
  }
  .quire-entry .quire-page__header {
    min-height: calc(100vh - 3rem);
    display: flex;
    justify-content: center;
  }
  .quire-entry .quire-page__header .hero-body {
    flex-grow: inherit;
  }
  .quire-entry .slide {
    min-height: calc(70vh - 3rem);
    margin-bottom: 30vh;
  }
  .quire-entry .slide .slide-num {
    display: block;
    font-size: .6em;
    letter-spacing: .5px;
    margin-bottom: .4em;
    font-weight: 400;
  }
  .quire-entry .slide .slide-num::before {
    content: 'Slide ';
    text-transform: uppercase;
  }
}

/*  LIGHTBOX & MODAL
============================================================================= */
/* Lightbox */
.q-lightbox__image {
  height: calc(100vh - 8.75rem)
}
.q-lightbox__caption {
  font-family: "Noto Sans", sans-serif;
  font-size: .75rem;
  line-height: 1.5;
  color: var(--mid);
}
.q-lightbox__caption-content {
  padding-bottom: 1rem;
}
/* Lightbox in modal specifically */
.q-lightbox--modal .q-lightbox__image {
  width: calc(100% - 6rem);
  height: calc(70vh - 3rem);
  top: 3rem;
  left: 3rem;
}
.q-lightbox--modal .q-lightbox__caption {
  width: calc(100% - 6rem);
  height: calc(30vh - 1rem);
  bottom: 0;
  left: 3rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  line-height: 2;
  overflow: scroll;
  color: white;
}
.q-lightbox--modal .q-lightbox__caption-content {
  padding-bottom: 4rem;
}
@media screen and (min-width:820px) {
  .q-lightbox--modal .q-lightbox__image {
    width: calc(55% - 3rem);
    height: 100%;
    top: 0;
  }
  .q-lightbox--modal .q-lightbox__caption {
    width: calc(45% - 6rem);
    height: calc(100% - 4rem);
    top: 4rem;
    right: 3rem;
    left: calc(55% + 2rem);
  }
}
@media screen and (min-width:1000px) {
  .q-lightbox--modal .q-lightbox__image {
    width: calc(65% - 3rem);
  }
  .q-lightbox--modal .q-lightbox__caption {
    width: calc(35% - 6rem);
    left: calc(65% + 2rem);
  }
}

/*  TABLES
============================================================================= */
/* Hide the tables that are on the page, they only display in the lightbox */
.quire-page__content section#tables-reference {
  display: none;
}
/* Style icons after table modal links */
.quire-page__content .q-figure__modal-link + svg {
  fill: var(--accent-color);
  margin-left: 3px;
  margin-bottom: -5px;
}
/* Basic table styles for the lightbox */
.q-lightbox-slides__element--table {
  margin: 0 80px;
  background-color: white;
  color: black;
}
.q-lightbox-slides__element--table table {
  margin: 1rem;
}
.q-lightbox-slides__element--table table,
.q-lightbox-slides__element--table th,
.q-lightbox-slides__element--table td {
  border: 1px solid black;
  border-collapse: collapse;
}
.q-lightbox-slides__element--table th,
.q-lightbox-slides__element--table td {
  padding: .25rem;
}
.q-lightbox-slides__element--table table caption {
  margin-bottom: 1rem;
}

/*  PRINT/PDF
============================================================================= */
@media print {
  /* Hide stuff */
  .quire-page__content figure.q-figure--group,
  .quire-contents-buttons,
  .quire-page__content table.vocab-table,
  .image-grid-search-box {
    display: none;
  }
  /* Make 2 columns throughout*/
  .quire-page:not(.quire-contents) .quire-page__content {
    column-count: 2;
    column-fill: balance;
    column-gap: .1875in;
    max-width: 100%;
    margin: 0;
  }
  /* Remove figure borders */
  .content figure.q-figure {
    border-width: 0;
    padding: 0;
  }
  /* Make tagged images in atlas be two columns */
  .content figure.q-figure.pdf-full-width {
    column-span: all;
  }
  /* Adjust font size and margins for small text items */
  .content figure .q-figure__caption {
    font-size: .875rem;
    line-height: 1.5;
  }
  .quire-page__content .content .footnotes ol li {
    margin-bottom: 0;
    font-family: "Noto Sans", sans-serif;
    font-size: .75rem;
    line-height: 1.6;
  }
  .quire-page__content .content .quire-page__content__references dl {
    margin-bottom: .25rem;
    font-size: .75rem;
    line-height: 1.6;
  }
  .quire-page__content .content .quire-page__content__references dl dd {
    margin-bottom: 0;
  }
  /* Try alternate handling of list bullets */
  .quire-page__content .container .content ul {
    list-style-type: "◆";
  }
  .quire-page__content .container .content ul li::before {
    content: none;
  }
  /* Fix up vocab pages */
  .quire-page.vocabulary .quire-page__content {
    font-size: .875rem;
  }
  .quire-page.vocabulary .quire-page__header {
    margin-bottom: .375in;
  }
  .quire-page.vocabulary h1,
  .quire-page.vocabulary .quire-page__header__title {
    font-weight: normal;
    margin: 0;
  }
  .quire-page.vocabulary h2 {
    font-size: 1.375rem;
    margin: 1rem 0 !important;
  }
  .quire-page.vocabulary h3 {
    font-size: 1.125rem;
    margin: 1rem 0 !important;
  }
  .quire-page.vocabulary h4 {
    font-size: 1rem;
    margin: 1rem 0 !important;
  }
  .quire-page.vocabulary div.accordion h3 {
    border-top-width: 1px;
    padding-top: 1rem;
    padding-bottom: 0;
    padding-left: 0;
  }
  .quire-page.vocabulary div.accordion {
    margin-top: 0;
    border-bottom-width: 1px;
  }
  .quire-page.vocabulary .quire-page__content .container .content li {
    margin-bottom: 0;
  }
}