:root {
  /* Should match $accent-color in variables.scss
  #427f34 is a darker, accessible version of --green-wax */
  --accent-color: #427f34;

  --green-wax: #59ac46;
  --yellow-bronze: #fbda00;
  --orange-clay: #d0773f;
  --brown-sand: #b68b73;
  --brown-bronze: #784721;
  --gray-background: #656360;

  /* Should match $black and $white in colors.scss */
  --black: #54524f;
  --white: #f9f9f1;

}

/* GENERAL
============================================================================= */
/* Adjust default heading styles and spacing */
.quire-page h2 {
  text-transform: none;
}
.quire-page h3 {
  font-style: normal;
}
.quire-page h4 {
  font-size: 1.25rem;
  font-style: italic;
}
