/*
   CUSTOMIZED FILE -- Bronze Guidelines
*/
:root {
  /* Should match $accent-color in variables.scss
  #427f34 is a darker, accessible version of --green-wax */
  --accent-color: #427f34;

  --green-wax: #59ac46;
  --yellow-bronze: #fbda00;
  --orange-clay: #d0773f;
  --brown-sand: #b68b73;
  --brown-bronze: #784721;
  --gray-background: #656360;

  /* Should match $black and $white in colors.scss */
  --black: #54524f;
  --white: #f9f9f1;

}

/*
GENERAL
FULL-WIDTH PAGES
INDENTED HEADINGS & LISTS
FIGURE GROUP
ACCORDION BUTTONS
VOCABULARY PAGES
VISUAL ATLAS PAGE
*/

/* GENERAL
============================================================================= */
/* Adjust default heading styles and spacing */
.quire-page h2 {
  margin-top: 3rem !important;
  text-transform: none;
}
.quire-page h3 {
  font-style: normal;
}
.quire-page h4 {
  font-size: 1.25rem;
  font-style: italic;
}

/* FULL-WIDTH PAGES
    presentation: full-width
============================================================================= */
.quire-page.full-width .quire-page__content .container {
  max-width: 1400px;
  width: inherit;
  margin-left: 6rem;
  margin-right: 3rem;
}
/* Set grid, text to the left, figuregroups to right, headers span across */
.quire-page.full-width .quire-page__content .content section:not([hidden]) {
  column-gap: 2rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.quire-page.full-width .quire-page__content .content section > * {
  grid-column-start: 1;
}
.quire-page.full-width .quire-page__content .content section > figure {
  grid-column-start: 2;
  grid-row: 2/100;
  margin-top: 0;
}
.quire-page.full-width .quire-page__content .content section > .accordion-wrapper > figure {
  grid-row-start: 1;
}
.quire-page.full-width .quire-page__content .content section.display-accordion > figure {
  grid-row-start: 1;
}
.quire-page.full-width .quire-page__content .content section > section,
.quire-page.full-width .quire-page__content .content section > h2,
.quire-page.full-width .quire-page__content .content section > h3,
.quire-page.full-width .quire-page__content .content section > h4 {
  grid-column-end: -1;
}
@media screen and (max-width:810px) {
  .quire-page.full-width .q-figure.q-figure--group.quire-grid-3 {
    column-count: 2;
  }
}
@media screen and (max-width:640px) {
  .quire-page.full-width .quire-page__content .content section {
    display: block;
  }
  .quire-page.full-width .q-figure.q-figure--group.quire-grid-3 {
    column-count: 3;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }
}
@media screen and (max-width:500px) {
  .quire-page.full-width .q-figure.q-figure--group.quire-grid-3 {
    column-count: 2;
  }
}
/* Ensure proper spacing between sections */
.quire-page.full-width .quire-page__content .content section:not([hidden]) {
  margin-bottom: .75rem;
}
.quire-page.full-width .quire-page__content .content h2 + section {
  margin-top: .75rem;
}

/* INDENTED HEADINGS & LISTS
============================================================================= */
/* The .indented-heading and .section-number classes are added in custom.js */
.quire-page.full-width .content .indented-heading {
  text-indent: -6rem;
}
.quire-page.full-width .content .indented-heading .section-number {
  width: 6rem;
  display: inline-block;
  text-align: right;
  padding-right: 2rem;
}
/*  Indent lists to match headings */
.quire-page.full-width .quire-page__content .container .content ul,
.quire-page.full-width .quire-page__content .container .content ul li {
  margin-left: 0;
}
.quire-page.full-width .quire-page__content .container .content ul li::before {
  font-size: 1rem;
  margin-top: .2rem;
  margin-left: -2.7rem;
}

/* FIGURE GROUP
============================================================================= */
.q-figure.q-figure--group.quire-grid-3 {
  border-width: 0;
  column-count: 3;
  padding: 0;
}
@media screen and (max-width:500px) {
  .q-figure.q-figure--group.quire-grid-3 {
    column-count: 2;
  }
}
.q-figure.q-figure--group figure {
  border-width: 0;
  break-inside: avoid;
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 0;
}
.q-figure.q-figure--group .q-figure__caption {
  margin-top: 0;
}
.q-figure.q-figure--group .q-figure__caption-content,
.q-figure.q-figure--group .q-figure__credit-content {
  display: none;
}

/* FIGURE MODAL
============================================================================= */
:not(figure) .q-figure__modal-link {
  display: inline;
  color: inherit;
  border-bottom: 1px dotted var(--accent-color);
}

/*  ACCORDION BUTTONS
    <div class="accordion">   <-- used in VOCABULARY PAGES
    presentation: accordion   <-- used on FULL-WIDTH PAGES
============================================================================= */
button.accordion-expander {
  all: inherit;
  border: 0 !important;
  cursor: pointer;
  margin: 0 !important;
  padding: 0 !important;
}
button.accordion-expander svg {
  fill: currentColor;
  height: 1rem;
  width: 1rem;
}
button.accordion-expander[aria-expanded="true"] svg {
  fill: var(--green-wax);
}
button.accordion-expander[aria-expanded="true"],
button.accordion-expander[aria-expanded="true"] * {
  color: var(--green-wax);
}
button.accordion-expander[aria-expanded="true"] .vert {
  display: none;
}

/*  VOCABULARY PAGES
    tags: vocabulary
============================================================================= */
.quire-page.vocabulary div.accordion {
  border-bottom: 2px solid var(--black);
  margin-top: 1.75rem;
}
.quire-page.vocabulary div.accordion h3 {
  border-top: 2px solid var(--black);
  font-weight: 400;
  margin-bottom: 1.75rem;
  padding-top: 1.75rem;
}
.quire-page.vocabulary div.accordion h3 button.accordion-expander {
  width: 100%;
}
.quire-page.vocabulary div.accordion h3 button.accordion-expander svg {
  float: right;
  margin-top: .65rem;
}
.quire-page.vocabulary .q-figure--group {
  border-top: 2px solid var(--black);
  padding-top: 2.5rem;
}

/*  VISUAL ATLAS PAGE
    type: visual-atlas
============================================================================= */
/* Set page as full-width and set alternate background color */
.quire-page.visual-atlas .quire-page__content .container {
  max-width: none;
  width: inherit;
  margin-left: 2rem;
  margin-right: 2rem;
}
.quire .quire-page.visual-atlas#main,
.quire-page.visual-atlas .quire-page__header,
.quire-page.visual-atlas .quire-page__content .container .content,
.quire-page.visual-atlas .image-grid-search-box #image-grid-search {
  background-color: var(--gray-background);
}
.quire-page.visual-atlas .quire-page__header h1 {
  color: var(--white);
}
/* Style search box */
.quire-page.visual-atlas .image-grid-search-box {
  margin: 0 auto;
  display: block;
  width: 32rem;
  max-width: calc(100vw - 4rem);
  color: var(--white);
}
.quire-page.visual-atlas .image-grid-search-box #image-grid-search {
  height: 3rem;
  width: 29.7rem;
  border: none;
  border-bottom: 1px solid var(--white);
  color: var(--white);
  font-size: 1.5rem;
}
.quire-page.visual-atlas .image-grid-search-box #image-grid-search:focus-visible {
  outline: none;
}
.quire-page.visual-atlas .image-grid-search-box svg {
  width: 2rem;
  height: 2rem;
  fill: var(--white);
  margin-bottom: -1rem;
}
#image-grid-counter {
  display: block;
  height: 2rem;
  color: var(--white);
  font-style: italic;
  text-align: center;
}
/* Style image grid and images */
.quire-page.visual-atlas .image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid var(--white);
  margin-top: 2rem;
}
.q-figure.image-grid-figure.match {
  display: block;
}
.q-figure.image-grid-figure {
  display: none;
}
.quire-page.visual-atlas .image-grid figure .q-figure__caption-content,
.quire-page.visual-atlas .image-grid figure .q-figure__credit,
.quire-page.visual-atlas .image-grid figure .q-figure__label-icon,
.quire-page.visual-atlas .image-grid figure canvas-panel {
  display: none;
}
.quire-page.visual-atlas .image-grid figure.image-grid-figure img {
  max-height: 240px;
  width: auto;
}
.quire-page.visual-atlas .image-grid figure.image-grid-figure:not(:last-child),
.quire-page.visual-atlas .quire-page__content .container .content figure.image-grid-figure:not(:first-child) {
  margin: 0;
  padding: 2rem;
  padding-bottom: 3rem;
  border: 1px solid var(--white);
  position: relative;
}
.quire-page.visual-atlas .image-grid .q-figure__caption {
  position: absolute;
  bottom: 3px;
  left: 6px;
  font-size: .875rem;
}
.quire-page.visual-atlas .image-grid .q-figure__caption a {
  color: var(--white);
  opacity: .5;
}
/* Add media queries to responsively adjust grid width and outer margins */
@media (max-width: 1888px)  {
  .quire-page.visual-atlas .image-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1568px)  {
  .quire-page.visual-atlas .image-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1248px)  {
  .quire-page.visual-atlas .image-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 928px)  {
  .quire-page.visual-atlas .image-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 609px)  {
  .quire-page.visual-atlas .image-grid {
    grid-template-columns: 1fr;
  }
  .quire-page.visual-atlas .quire-page__content .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
