/* 
CUSTOMIZED FILE -- Bronze Guidelines 
Styles that are injected into the page being viewed in the iframe image viewer
*/
html, body {
  background-color: black;
  height: 100%;
}
.quire-navbar,
.quire-contents-buttons,
.tables-page .quire-page__header {
  display: none;
}
.side-by-side .quire-entry__lightbox {
  height: 100%;
  top: 0;
}
.quire-page::before,
.quire-page::after {
  content: '';
  background-color: transparent;
}
.quire-entry__content {
  animation: none;
}
.quire .quire__primary main,
.tables-page .quire-page__content {
  background-color: black;
}
.q-figure.q-figure--table {
  margin-bottom: 0 !important;
}
.table-zoom .content {
  overflow: scroll;
}
.table-zoom .container table {
  font-size: 1rem !important;
}
.tables-page .quire-page__content .container .content {
  padding-top: 1.5rem;
}