{{/*
  Essay layout. This layout describes a single-page template that has been
  augmented with the ability to display a frontmatter-defined abstract (in
  markdown format) as well as bibliography references.
*/}}

{{ define "main" }}
<article class="{{ partial "page-class.html" . }} quire-page quire-visual-atlas" id="main" role="main">
  {{ partial "page-header.html" . }}

  <section id="content" class="section quire-page__content">
    {{ if .Params.abstract }}
    {{ partial "page-abstract.html" . }}
    {{ end }}
    <div class="container">
      <div class="content">
        {{ if ne .Site.Params.pdf true }}
        <div id="image-grid-header">

          <div class="image-grid-search-box">
          <input type="text" id="image-grid-search" onkeyup="filterImageGrid()" placeholder="Search images ..."> {{- partial "icon.html" (dict "type" "search" "description" "search") -}}
          </div>
          <span id="image-grid-counter"></span>

          {{ .Content }}
        </div>
        <div id="image-grid">
        {{ end }}

        {{ range .Site.Data.figures.figure_list }}

        {{- $alt := "" -}}
        {{- $aspectRatio := "" -}}
        {{- $caption := "" -}}
        {{- $credit := "" -}}
        {{- $download := "" -}}
        {{- $id := "" -}}
        {{- $label := "" -}}
        {{- $mediaId := "" -}}
        {{- $mediaType := "" -}}
        {{- $src := "" -}}

        {{- with .alt }}{{ $alt = . }}{{ end -}}
        {{- with .aspect_ratio }}{{ $aspectRatio = . }}{{ end -}}
        {{- with .caption }}{{ $caption = . }}{{ end -}}
        {{- with .credit }}{{ $credit = . }}{{ end -}}
        {{- with .download }}{{ $download = . }}{{ end -}}
        {{- with .id }}{{ $id = . }}{{ end -}}
        {{- with .label }}{{ $label = . }}{{ end -}}
        {{- with .media_id }}{{ $mediaId = . }}{{ end -}}
        {{- with .media_type }}{{ $mediaType = . }}{{ end -}}
        {{- with .src }}{{ $src = . }}{{ end -}}

        {{- $dict := dict "Site" $.Site "alt" $alt "aspectRatio" $aspectRatio "caption" $caption "credit" $credit "download" $download "id" $id "label" $label "mediaId" $mediaId "mediaType" $mediaType "src" $src -}}

        {{ if ne $mediaType "table" }}
        <figure
          data="q-figure"
          class="quire-figure grid-figure match"
          id="{{ $id }}"
        >
          <div class="q-figure__wrapper">
            {{ if eq $mediaType "youtube" -}}
              {{- partial "figures/media-types/youtube.html" $dict -}}
            {{- else if eq $mediaType "vimeo" -}}
              {{- partial "figures/media-types/vimeo.html" $dict -}}
            {{- else if eq $mediaType "soundcloud" -}}
              {{- partial "figures/media-types/soundcloud.html" $dict -}}
            {{- else if eq $mediaType "website" -}}
              {{- partial "figures/media-types/website.html" $dict -}}
            {{- else if eq $mediaType "table" -}}
              {{- partial "figures/media-types/table.html" $dict -}}
            {{- else -}}
              {{- partial "figures/media-types/image.html" $dict -}}
            {{- end -}}
          </div>
          {{ if ne $.Site.Params.pdf true }}
          <span class="grid-label">{{ replace $label "Figure " "" }}</span>
          {{ end }}
        </figure>
        {{ end }}

        {{ end }}
        {{ if ne $.Site.Params.pdf true }}
        </div>
        {{ end }}

      </div>
      {{ partial "footer-buttons.html" . }}
    </div>
  </section>
</article>
{{ end }}