{{/*
  type: page
  layout: vocabulary

  This custom template is bassed on layouts/_default/single.html

  It is used for the Vocabulary section of the Bronze Guidelines book. It adds the vocabulary term definition to the top of the page.

  It also uses findRE and replaceRE to search the definitions for the `q-def` shortcode, which is then converted from shortcode to HTML with the definition.html partial.

*/}}

{{ define "main" }}
<article class="{{ partial "page-class.html" . }} quire-page quire-vocabulary" id="main" role="main">
  {{ partial "page-header.html" . }}
  {{ if .Content }}
  <section class="section quire-page__content" id="content">
    <div class="container">
      <div class="content">

        {{ if .Page.Params.definition }}

        {{ $definition := .Page.Params.definition }}

        {{ $shortcodes := findRE "{{< q-def \"(.*?)\"+ >}}" $definition }}
        {{ if $shortcodes }}
          {{ range $shortcodes }}
            {{ $shortcode := . }}
            {{ $term := "" }}
            {{ $display := "" }}
            {{ $shortcodeDouble := "" }}
            {{ $shortcodeDouble = findRE "{{< q-def \"(.*?)\" \"(.*?)\" >}}" . }}
            {{ $shortcodeSingle := "" }}
            {{ $shortcodeSingle = findRE "{{< q-def \"(.[^\"]*?)\" >}}" . }}

            {{ if $shortcodeDouble }}
            {{ $term = replaceRE "{{< q-def \"(.*?)\" \"(.*?)\" >}}" "$1" . }}
            {{ $display = replaceRE "{{< q-def \"(.*?)\" \"(.*?)\" >}}" "$2" . }}
            {{ else if $shortcodeSingle }}
            {{ $term = replaceRE "{{< q-def \"(.*?)\" >}}" "$1" . }}
            {{ end }}

            {{ $dict := dict "Site" $.Site "Term" $term "Display" $display }}
            {{ $popUp := partial "definition.html" $dict }}

            {{ $definition = replaceRE $shortcode $popUp $definition }}
          {{ end }}
        {{ end }}

        <p>{{ $definition | markdownify | safeHTML }}</p>

        {{ end }}

        {{ .Content }}
      </div>
    </div>
  </section>
  {{ end }}
  <section class="section quire-page__content">
    <div class="container">
      {{ partial "footer-buttons.html" . }}
    </div>
  </section>
</article>
{{ end }}