{{/*
  type: page
  layout: vocabulary

  This custom template is bassed on layouts/_default/single.html

  It is used for the Vocabulary section of the Bronze Guidelines book. It adds the vocabulary term definition to the top of the page.
*/}}

{{ define "main" }}
<article class="{{ partial "page-class.html" . }} quire-page quire-vocabulary" id="main" role="main">
  {{ partial "page-header.html" . }}
  {{ if .Content }}
  <section class="section quire-page__content" id="content">
    <div class="container">
      <div class="content">

        {{ with .Page.Params.definition }}
        <p>{{ . | markdownify }}</p>
        {{ end }}

        {{ .Content }}
      </div>
    </div>
  </section>
  {{ end }}
  <section class="section quire-page__content">
    <div class="container">
      {{ partial "footer-buttons.html" . }}
    </div>
  </section>
</article>
{{ end }}