

/* GENERAL
============================================================================= */

/* Give some more space between content and nav buttons */
.quire-contents-buttons {
  margin-top: 3rem;
}

/* Adjust heading styles and spacing */
.quire-page .content h2 {
  text-transform: none;
  font-size: 1.5rem;
  line-height: 1.3;
  margin-top: 1.5rem;
  border-top: 2px solid #000;
  padding-top: 2rem;
}
.quire-page .content h3,
.quire-page .content h4 {
  letter-spacing: -0.01em;
}
.quire-page .content h3 {
  font-weight: normal;
  font-size: 1.3125rem;
  font-style: normal;
  margin-top: 1.5rem;
  border-top: 2px solid #000;
}
.quire-page .content h3 strong {
  font-weight: 700;
}
.quire-page .content h4 {
  font-weight: 700;
  font-size: 1.25rem;
  font-style: normal;
  margin-top: 1rem;
}
.quire-page .content *:not(div) + h2,
.quire-page .content *:not(div) + h3 {
  border-top-width: 0;
}

/* Style heading buttons for accordion sections */
.accordion h2 button,
.accordion h3 button,
.accordion h4 button {
  all: inherit;
  border: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: .5rem 0 .5rem 0;
  cursor: pointer;
}
.quire-page .content .accordion {
  border-bottom: 2px solid #000;
}
.quire-page .content .accordion div:last-child {
  margin-bottom: 1.5rem;
}
.content .accordion button svg {
  height: 1rem;
  width: 1rem;
}
.accordion [aria-expanded="true"] .vert {
  display: none;
}
.accordion [aria-expanded] rect {
  fill: currentColor;
}
.accordion .no-content-expander button svg {
  display: none;
}


/* ESSAY SECTION
============================================================================= */

.quire-page--gray-cards .content ul:not(.warning *) {
  margin-left: 0;
}
.quire-page--gray-cards .content p + ul:not(.warning *) {
  margin-top: 1.5em;
}
.quire-page--gray-cards .quire-page__content .container .content ul:not(.warning *) li::before {
  font-size: 3rem;
  margin-left: -.85em;
  margin-top: -1.8rem;
  color: #fff;
}
.quire-page--gray-cards .quire-page__content .container .content ul:not(.warning *) li {
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding: 1rem 1rem 1rem 1.5rem;
  border-radius: 4px;
  background-color: #EBEBEA;
  margin-left: 0;
}
.quire-page--gray-cards .quire-page__content .container .content .quire-figure {
  border-width: 0;
  padding: 0;
  margin: 1.5rem 0 1rem 0;
}
.quire-page--gray-cards .quire-page__content .container .content ul li .quire-figure {
  margin: 0;
}
.quire-page--gray-cards .content .warning {
  margin-bottom: 2rem;
}
.quire-page--gray-cards .content .warning > :first-child {
  font-weight: 700;
  color: #d0773f;
}
.quire-page--gray-cards .content .warning ul {
  margin-left: 1rem;
}
.quire-page--gray-cards .content .warning ul li::before {
  color: #d0773f;
  font-size: 1.15rem;
}

.quire-page--indent h2,
.quire-page--indent h3,
.quire-page--indent h4 {
  font-weight: 700 !important;
  text-indent: -6rem;
}
.quire-page--indent .head-num {
  width: 6rem;
  display: inline-block;
  text-align: right;
  padding-right: 2rem;
}
.quire-page--indent .quire-page__content .container .content ul {
  margin-left: 0;
}
.quire-page--indent .quire-page__content .container .content ul li {
  margin-left: 0;
}
.quire-page--indent .quire-page__content .container .content ul li::before {
  font-size: 1.2rem;
  margin-top: -.15rem;
  margin-left: -2.7rem;
  color: #656360;
}
.quire-page--indent .quire-page__content .container .content .warning ul li::before {
  color: #d0773f;
}
.quire-page--indent .quire-page__content .container .content .warning > p:first-child {
  color: #d0773f;
  font-weight: 700;
}
.quire-page--indent .quire-page__content .container .content .quire-figure {
  border-top: 1px solid #59ac46;
  border-top: 1px solid #000;
  border-bottom-width: 0;
  padding-top: 1.5rem;
  margin-top: 0;
  padding-bottom: 0;
  border-width: 0;
  padding-top: 0;
}
.quire-page--indent .quire-page__content .container .content > .quire-figure {
  /* keeps figures the same width as when they're in an <li> */
  margin-right: 1.5rem;
}
.quire-page--indent .content .quire-figure--group.column figure {
  display: inline-block;
}
.quire-page--indent .quire-page__content .container .content .quire-figure {
  margin-bottom: -1rem;
}


/* VOCABULARY SECTION
============================================================================= */

/* Make the Chinese language column wide enough to not break words */
#vocabulary table th:last-child {
  min-width: 8rem;
}


/* FIGURES
============================================================================= */

/* Hide figure captions inline and only display in modal */
.quire-figure__caption-content {
  display: none;
}
.quire-caption-container .quire-figure__caption-content {
  display: inline;
}
.content figure .quire-figure__caption {
  margin-top: 0;
}

/* Q-FIGURE-GROUP SHORTCODE: GRID (DEFAULT)
------------------------------------------------ */
@media screen {
  .content .quire-figure--group figure,
  .content .quire-figure--group figure:not(:first-child) {
    margin: 0;
  }
  .quire-page__content figure.quire-figure--group {
    display: grid;
    grid-gap: 1rem;
  }
  .quire-page__content figure.quire-figure--group.quire-figure--group--grid-1 {
    grid-template-columns: 1fr;
  }
  .quire-page__content figure.quire-figure--group.quire-figure--group--grid-2 {
    grid-template-columns: 1fr 1fr;
  }
  .quire-page__content figure.quire-figure--group.quire-figure--group--grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .quire-page__content figure.quire-figure--group.quire-figure--group--grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .quire-page__content figure.quire-figure--group > .quire-figure__caption {
    grid-column: 1/-1;
    margin-top: 0;
  }
}
@media print {
  .quire-page__content figure.quire-figure--group {
    display: block;
    white-space: nowrap;
  }
  .quire-page__content figure.quire-figure--group figcaption {
    white-space: normal;
  }
  .content .quire-figure--group.quire-figure--group--grid-2 figure,
  .content .quire-figure--group.quire-figure--group--grid-2 figure:not(:first-child) {
    margin: 0;
    width: calc(50% - .75rem);
    display: inline-block;
  }
  .content .quire-figure--group.quire-figure--group--grid-2 figure:not(:first-child) {
    margin-left: 1.5rem;
  }
}

/* Q-FIGURE-GROUP SHORTCODE: COLUMN
requires class="column" in shortcode
------------------------------------------------ */
@media screen {
  .quire-page__content figure.quire-figure--group.column {
    display: block;
    column-gap: 1rem;
    /* The following are currently specific for the vocabulary pages
      but might be fine on other pages as well */
    border-top-width: 2px;
    border-bottom-width: 0;
    border-color: #000;
    padding: 2em 0 0 0;
    margin: 2em 0 0 0;
  }
  .quire-page__content figure.quire-figure--group.column.quire-figure--group--grid-1 {
    column-count: 1;
  }
  .quire-page__content figure.quire-figure--group.column.quire-figure--group--grid-2 {
    column-count: 2;
  }
  .quire-page__content figure.quire-figure--group.column.quire-figure--group--grid-3 {
    column-count: 3;
  }
  .quire-page__content figure.quire-figure--group.column.quire-figure--group--grid-4 {
    column-count: 4;
  }
  .content .quire-figure--group.column figure,
  .content .quire-figure--group.column figure:not(:first-child) {
    margin: 0;
    break-inside: avoid;
    margin-bottom: 1rem;
  }
  .quire-page__content .content figure.quire-figure--group.column .q-figure__wrapper > a:hover {
    border-bottom-width: 0px !important;
  }
}
