/* Accordion Headings
https://inclusive-components.design/collapsible-sections/
============================================================================= */

h2 button,
h3 button,
h4 button {
  all: inherit;
  border: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: .5rem 0 .5rem 0;
  cursor: pointer;
}
.quire-page .content h2 {
  text-transform: none;
  font-size: 1.5rem;
  line-height: 1.3;
  margin-top: 1.5rem;
  border-top: 2px solid #000;
  padding-top: 2rem;
}
.quire-page .content h2.fold-up {
  padding-top: 0;
}
.quire-page .content h3, 
.quire-page .content h4 {
  letter-spacing: -0.01em;
}
.quire-page .content h3 {
  font-weight: normal;
  font-size: 1.25rem;
  font-style: normal;
  margin-top: 1.5rem;
  border-top: 2px solid #000;
}
.quire-page .content h4 {
  font-weight: 700;
  font-size: 1.15rem;
  font-style: normal;
  margin-top: 1rem;
}
.quire-page .content *:not(div) + h2,
.quire-page .content *:not(div) + h3 {
  border-top-width: 0;
}
.content h3 button:focus svg {
  outline: 2px solid;
}
.content button svg {
  height: 1rem;
  width: 1rem;
}
[aria-expanded="true"] .vert {
  display: none;
}
[aria-expanded] rect {
  fill: currentColor;
}


/* Multi-image image pop-ups
============================================================================= */

.quire-page__content .content a.quire-citation__content__img-link {
  display: block; 
  margin-right: 1rem; 
  border-bottom-width: 0;
}
.quire-page__content .content a.quire-citation__content__img-link:last-child {
  margin-right: 0;
}
.quire-page__content .content a.quire-citation__content__img-link:hover {
  border-bottom-width: 0 !important;
}


/* Case Study Slides: 
2 Prototypes using 2 different libraries

  fullPage.js
  https://github.com/alvarotrigo/fullPage.js

  Animate on Scroll Version 
  https://github.com/michalsnik/aos/tree/v2
============================================================================= */

/* Slides: Title Slide -------------------------------------------------------*/
.title-slide h1 {
  text-align: center;
  padding: 0 3vw;
}
.title-slide h1 .label {
  line-height: 1.3;
  display: table;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
  color: #333333;
  border-top: 2px solid #398500;
  border-bottom: 2px solid #398500;
  padding: 0.2rem 0.3rem;
  letter-spacing: 0;
  margin: 0 auto 1.9em;
}

/* Slides: fullPage ----------------------------------------------------------*/
#fullpage div.section {
  background-color: #fff;
  padding: 0 20rem 0 3rem;
} 
#fullpage div.section h2 {
  border-top-width: 0;
  padding-top: 0;
}
#fullpage .fp-scroller {
  padding-right: 2rem;
  padding-bottom: 50vh;
}

/* Slides: Animate on Scroll -------------------------------------------------*/
.slide.content {
  margin: 0 3rem 5rem 3rem;
  min-height: calc(100vh - 3rem);
  max-width: 70vw;
  border-top: 2px solid #000;
  padding-top: 2rem;
}
.slide.content:first-child {
  border-width: 0;
}
.slide.content h2 {
  border-width: 0;
  margin-top: 0;
  padding-top: 1rem;
}

/* Slides: Menu --------------------------------------------------------------*/
.slide-menu {
  position: fixed;
  right: 2rem;
  top: 3rem;
  height: calc(100vh - 3rem);
  text-align: right;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
}
.slide-menu li {
  /* flex-basis so element fills space and right borders connect */
  flex-basis: 10rem;
  border-right: 2px solid #000;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  flex-direction: row-reverse;
}
.slide-menu li a {
  color: #000;
}
/* Covers the leftover bit of right border at the top and bottom of menu list */
.slide-menu li:first-child .cover, 
.slide-menu li:last-child .cover {
  background-color: #fff;
  height: 50%;
  width: 20px;
  position: absolute;
  right: -2px;
}
.slide-menu li:first-child .cover {
  top: 0;
}
.slide-menu li:last-child .cover {
  bottom: 0;
}
/* The line connecting the menu text and the right border */
.slide-menu li .marker {
  width: 2rem;
  height: 2px;
  background-color: #000;
  margin-left: .5rem;
  margin-right: -2px;
  z-index: 0;
}
/* fullPage.js adds an active class to section that's in view */
#fullpage-menu li.active a {
  font-weight: bold;
  text-transform: uppercase;
  color: #398500;
}
#fullpage-menu li.active .marker {
  height: 4px;
  background-color: #398500;
}
[data-aos="highlight"] {
  color: #000;
  font-weight: normal;
  transition: color, font-weight;
}
[data-aos="highlight"].aos-animate {
  color: #398500;
  font-weight: bold;
}


/* Slides: Image Animation: Fading Image Overlay -----------------------------*/
.fading-images {
  position: relative;
}
.fading-images img:last-of-type {
  position: absolute;
  top: 0;
  left: 0;
}
.section.content .fading-images img:last-of-type {
  opacity: 1;
  transition: opacity 5s;
  transition-delay: .5s;
}
.section.content.active .fading-images img:last-of-type {
  opacity: 0;
}
[data-aos="overlay"] img:last-of-type {
  opacity: 1;
  transition: opacity 5s;
  transition-delay: .5s;
}
[data-aos="overlay"].aos-animate img:last-of-type {
  opacity: 0;
}

/* Slides: Image Animation: Come From Left/Above -----------------------------*/
.come-from-left,
.come-from-top {
  width: 35%;
  float: left;
  margin-right: 1rem;
}
.section.content .come-from-left img {
  transform: translateX(-120%);
  transition: transform 1s;
}
.section.content.active .come-from-left img {
  transform: translateX(0);
}
.section.content .come-from-top img {
  opacity: 0;
  transform: translateY(-141%);
  transition: transform 1s, opacity 1s;
}
.section.content.active .come-from-top img {
  opacity: 1;
  transform: translateY(0);
}
[data-aos="come-from-left"] img {
  transform: translateX(-120%);
  transition: transform 1s;
}
[data-aos="come-from-left"].aos-animate img {
  transform: translateX(0);
}
[data-aos="come-from-top"] img {
  opacity: 0;
  transform: translateY(-141%);
  transition: transform 1s, opacity 1s;
}
[data-aos="come-from-top"].aos-animate img {
  opacity: 1;
  transform: translateY(0);
}

/* Slides: Image Animation: Flip Up ------------------------------------------*/
.flip-up {
  width: 80%;
  margin: 2rem auto 1rem auto;
  transition-delay: .5s;
}

/* Slides: Image Side-by-Side ------------------------------------------------*/
.image-pair {
  margin: 2rem auto 1rem auto;
}
.image-pair img {
  width: calc(49% - 1rem);
  margin: 0 .5rem;
  display: inline-block;
}