---
## CUSTOMIZED FILE -- Bronze Guidelines
## copy of entry.liquid but used standard pageHeader, and adds iframe viewer
## and removes page bibliography, abstract & tombstone
## also adds an onscroll annoref link to the header to reset the view
## when scrolling back up
##
classes: 
  - quire-entry
  - quire-case-study
layout: base.11ty.js
description: Entry layout. This template is intended for use in catalogue-style pages where a single image or object needs to be featured prominently.
---

{% assign sideBySide = config.entryPage.sideBySide %}

{% comment %}
Entry content, including entry image and tombstone data
{% endcomment %}

<div {% if sideBySide == true or presentation == 'side-by-side' %} class="side-by-side" {% endif %}>

  {% comment %} Full-width entry image header {% endcomment %}
  <div class="quire-entry__image-wrap" data-outputs-include="html">
    <div class="quire-entry__lightbox">
      {% if image %}
      {% comment %}
        To do: add support for images without ids defined in front matter
        {% assign figures = image | split: ',' %}
        {% lightbox figures %}
      {% endcomment %}
      {% elsif pageObjects %}
        {% for object in pageObjects %}
          {% lightbox object.figures %}
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="quire-entry__image-wrap" data-outputs-include="epub,pdf">
    {% if image %}
      {% comment %}
        @TODO: add support for images without ids defined in front matter
        {% figure image %}
      {% endcomment %}
    {% elsif pageObjects %}
      {% for object in pageObjects %}
        {% for figure in object.figures limit:1 %}
          {% figureallformats figure.id %}
          {% if forloop.first %}{% assign first_figure_id = figure.id %}{% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}
  </div>

  <div class="quire-entry__content">

    {% pageHeader
      contributor_byline=contributor_byline,
      firstFigureId=first_figure_id,
      image=image,
      label=label,
      pageContributors=pageContributors,
      short_title=short_title,
      subtitle=subtitle,
      title=title
    %}

    <section class="section quire-page__content">
      <div class="container">
        <div class="content">
          {{ content }}
          {% bibliography citations %}
        </div>
      </div>
    </section>

    <section class="section quire-page__content">
      <div class="container">
        {% pageButtons pagination=pagination %}
      </div>
    </section>
  </div>
</div>
<div class="iframe_viewer" id="iframe-viewer" style="display:none;" data-outputs-exclude="epub,pdf">
  <div class="iframe_viewer__nav-buttons" id="iframe-nav"></div>
  <div class="iframe_viewer__controls">
    <a class="iframe-control--close" aria-label="Close" onclick="toggleViewer()">{% icon type='close', description='Close image viewer' %}</a>
    <a class="iframe-control--share" id="iframe-share" aria-label="Copy link" onclick="copyLink()" data-baseurl="https://www.getty.edu/">{% icon type='link', description='Copy link' %}</a>
    <a class="iframe-control--toggle-size" id="iframe-toggle-size" style="display:none;" aria-label="Change text size" onclick="toggleTextSize('iframe')">{% icon type='text-size', description='Toggle text size' %}</a>
    <span id="iframe-control-tooltip" style="display:none;"></span>
  </div>
  <iframe class="iframe_viewer__iframe" id="object-iframe" name="object-iframe" style="display:none;"></iframe>
  <span id="iframe-loading-indicator" style="display:block;">Loading ...</span>
</div>