---
## CUSTOMIZED FILE -- Bronze Guidelines
## Adds iframe image viewer
##
classes:
  - quire-page
layout: base.11ty.js
description: Single page default template
---

{% pageHeader
  byline_format=byline_format,
  image=image,
  label=label,
  pageContributors=pageContributors,
  subtitle=subtitle,
  title=title
%}
{% if content %}
<section class="section quire-page__content">
  <div class="container">
    <div class="content">
      {{ content }}
      {% bibliography citations %}
      <div class="iframe_viewer" id="iframe-viewer" style="display:none;">
        <div class="iframe_viewer__nav-buttons" id="iframe-nav"></div>
        <div class="iframe_viewer__controls">
          <a class="iframe-control--close" aria-label="Close" onclick="toggleViewer()">{% icon type='close', description='Close image viewer' %}</a>
          <a class="iframe-control--share" id="iframe-share" aria-label="Copy link" onclick="copyLink()" data-baseurl="{{ publication.url }}">{% icon type='share', description='Copy link' %}</a>
          <a class="iframe-control--toggle-size" id="iframe-toggle-size" style="display:none;" aria-label="Change text size" onclick="toggleTextSize()">{% icon type='text-size', description='Toggle text size' %}</a>
          <span id="iframe-control-tooltip" style="display:none;"></span>
        </div>
        <iframe class="iframe_viewer__iframe" id="object-iframe" name="object-iframe" style="display:none;"></iframe>
        <span id="iframe-loading-indicator" style="display:block;">Loading ...</span>
      </div>
    </div>
  </div>
</section>
{% endif %}
<section class="section quire-page__content">
  <div class="container">
    {% pageButtons pagination=pagination %}
  </div>
</section>
