---
## CUSTOMIZED FILE -- Bronze Guidelines
class: visual-atlas
layout: base.11ty.js
description: Custom page showing all non-table figure images
---

<article class="quire-page visual-atlas {{ presentation }} {{ tags }}" id="main" role="main">
  {% pageHeader
    contributor_byline=contributor_byline,
    image=image,
    label=label,
    pageContributors=pageContributors,
    short_title=short_title,
    subtitle=subtitle,
    title=title
  %}

  <section class="section quire-page__content" id="content">
    <div class="container">
      <div class="content">
        {% if content %}
        {{ content }}
        {% endif %}
        <div class="image-grid-search-box">
          <div>
            <input type="text" id="image-grid-search" placeholder="Search images ..."> {% icon type="search", description="Search" %}
          </div>
          <span id="image-grid-counter"></span>
        </div>

        <div class="image-grid" id="image-grid">
        {% for figure in figures.figure_list %}
        {% if figure.media_type != "table" and figure.media_type != "case-study" %}
          {% assign classes = "image-grid-figure match " | append: figure.class %}
          {% figure figure.id, classes %}
        {% endif %}
        {% endfor %}
        </div>

      </div>
    </div>
  </section>

  <section class="section quire-page__content">
    <div class="container">
      {% pageButtons pagination=pagination %}
    </div>
  </section>
</article>
