---
## CUSTOMIZED FILE -- Bronze Guidelines
## uses vocabIndexPageHeader for custom contributor treatment
##
class: quire-page
layout: base.11ty.js
description: Custom template for the Vocabulary index/table
---

{% vocabIndexPageHeader
  contributor_byline=contributor_byline,
  image=image,
  label=label,
  pageContributors=pageContributors,
  short_title=short_title,
  subtitle=subtitle,
  title=title,
  edited_by=edited_by,
  additional_contributors=additional_contributors
%}
{% if content %}
<section class="section quire-page__content">
  <div class="container">
    <div class="content">
      {{ content }}
      {% bibliography pageReferences %}
    </div>
  </div>
</section>
{% endif %}
<section class="section quire-page__content">
  <div class="container">
    {% pageButtons pagination=pagination %}
  </div>
</section>
